{% extends('@smartpage/smartpage.twig') %}
{% block content %}
	<div is="codex-layout" data-title="Eternity Codex II" data-icon="fas fa-gamepad" data-user="{{ user }}" data-avatar="{{ avatar }}"></div>
{% endblock %}