{% extends('@smartpage/smartpage.twig') %}
{% block content %}
	<div is="codex-layout" data-title="{{ admin.title }}" data-icon="{{ admin.icon }}" data-user="{{ user }}" data-avatar="{{ avatar }}"></div>
{% endblock %}