{% extends('@smartpage/smartpage.twig') %}
{% block content %}
	<div is="codex-login" data-title="{{ admin.title }}" data-icon="{{ admin.icon }}" data-login-placeholder="{{ admin['login-placeholder'] }}"></div>
{% endblock %}
